extends layout.pug

block content
    .page-container 
        .post-display
            .question-header
                h1= question.title 
                p= question.User.userName
            .question-text 
                p= question.content 
            each answer in question.Answers
                p= answer.User.userName
                p= answer.content
            if locals.authenticated && locals.user.id === question.User.id
                form(action=`/questions/${question.id}` method='post')
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button(class="delete-button-post" type="submit") Delete
                form(action= `/questions/${question.id}/edit` method= 'get')
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button(class="edit-button-post" type="submit") Edit


