extends layout.pug

block content
    script(src='/javascripts/questionIndex.js' type='module')
    script(src='/javascripts/commentIndex.js' type='module')
    .page-container
        .post-display
            .question-header
                h1= question.title
                p= question.User.userName
            .question-text
                p= question.content
            if question.Answers
                each answer in question.Answers
                    p= answer.User.userName
                    p= answer.content
                    if locals.authenticated
                        .add-comment-modal
                            button(class= 'open-comment-button') add comment
                                .submit-comment-container
                                    form(action=`/comments/answers/${answer.id}` method ="post" class="comment-form")
                                        input(type='hidden' name='_csrf' value=csrfToken)
                                        label Comment
                                        input(type="text" name= 'content' )
                                        button(class= 'add-comment-button' type= "submit") Submit Comment
                    if comments
                        .comment-container
                            each comment in comments
                                div(id =`comment-container-${comment.id}`)
                                    p= comment.content
                                    p= comment.User.userName
                                    if locals.authenticated && locals.user.id === comment.User.id
                                        form(action=`/comments/${comment.id}/delete` method="post") 
                                            input(type='hidden' name='_csrf' value=csrfToken)
                                            button(id=comment.id type="submit").delete-comment-button Delete Comment                                        
            if locals.authenticated && locals.user.id === question.User.id
                button(class="delete-button-post") Delete
                form(action= `/questions/${question.id}/edit` method= 'get')
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button(class="edit-button-post" type="submit") Edit
                .confirm-modal
                    p Are you sure you want to delete your question? It will be gone forever.
                    form(action=`/questions/${question.id}/delete` method='post')
                        input(type="hidden" name="_csrf" value=csrfToken)
                        button(class="confirm-delete-button" type="submit") Confirm

