extends layout.pug

block content
    script(src='/javascripts/questionIndex.js' type='module')
    script(src='/javascripts/commentIndex.js' type='module')
    .page-container
        .post-display
            .question-header
                h1= question.title
                p= question.User.userName
            .question-text
                p= question.content
            if question.Topics 
                each topic in question.Topics 
                    p= topic.title
            if question.Answers
                each answer in question.Answers
                    div(class=`answer-container${answer.id}`)
                        p= answer.User.userName
                        p= answer.content
                            button(id=`${answer.id}` class= 'nav-button right comments-button') Show Comments
                            div(id=`comment-container${answer.id}`)
                        if locals.authenticated
                            .add-comment-modal
                                button(class= 'open-comment-button' id=`open-comment-${answer.id}`) add comment
                                div(class= "submit-comment-container" id= `submit-container-${answer.id}`)
                                    form(action=`/comments` method ="post" id=`comment-form-${answer.id}`)
                                        input(type='hidden' name='_csrf' value=csrfToken)
                                        label Comment
                                        input(type="text" id=`comment-content-${answer.id}` name= 'content' )
                                        input(type="hidden" name= "answerId" value= answer.id)
                                        button(class= 'add-comment-button' id=`add-comment-${answer.id}` type= "submit") Submit Comment
                    //- if comments
                    //-     .comment-container
                    //-         each comment in comments
                    //-             div(id =`comment-container-${comment.id}`)
                    //-                 p= comment.content
                    //-                 p= comment.User.userName
                    //-                 if locals.authenticated && locals.user.id === comment.User.id
                    //-                     form(action=`/comments/${comment.id}/delete` method="post")
                    //-                         input(type='hidden' name='_csrf' value=csrfToken)
                    //-                         button(id=comment.id class='.delete-comment-button' type="submit") Delete Comment
            if locals.authenticated && locals.user.id === question.User.id
                button(class="delete-button-post") Delete
                form(action= `/questions/${question.id}/edit` method= 'get')
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button(class="edit-button-post" type="submit") Edit
                .confirm-modal-overlay
                    .confirm-modal
                        p Are you sure you want to delete your question? It will be gone forever.
                        form(action=`/questions/${question.id}/delete` method='post')
                            input(type="hidden" name="_csrf" value=csrfToken)
                            button(class="confirm-delete-button" type="submit") Confirm
                        button(class="cancel-delete-button" type="submit") Cancel
