extends layout.pug

block content
    .new-question-button
        a(href='/questions/new')
              button(class= 'nav-button right') Add Question
    h2 My questions:
    if questions && questions.length > 0
        table
            thead(class='thead-dark')
                tr
                th My Questions
                th Modify
                th Add Topic
                th
            tbody
                each question in questions
                    tr  
                        td
                            a(href=`/questions/${question.id}`)= question.title
                        td
                            form(action=`/questions/${question.id}/edit` method='get')
                                input(type='hidden' name='_csrf' value=csrfToken)
                                button(type='submit') Edit / Delete
                        form(action='/topics/questions/add' method='post')
                            td
                                select(name='topicId')
                                    each topic in topics
                                        option(value=topic.id) #{topic.title}
                            td
                                input(type='hidden' name='_csrf' value=csrfToken)
                                input(type='hidden' name='questionId' value=question.id)
                                button(type='submit') Add Topic
    else
        h2 No answers yet :3
