mixin validationErrorSummary(errors)
  if errors
    div(class='errors-list')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class= 'form-input-container')
    label(for=fieldName class= 'form-text')= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-input')
